*{
    box-sizing: border-box;
    font-size: 16.5%;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./asstets/png/whatsappBlank.png');
    background-repeat: no-repeat;
    background-size: cover;

}
div{
    width: 90%;
}
.textBox{
    position: relative;
    top:60rem;
    left: 5rem;
    
}
p{
    font-size: 10rem;
    font-family: sans-serif;
    text-align: right;
}
.pressArea{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color:transparent;

}